

.footer-up {
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding: 40px 0;
}

.footer-down {
  padding: 20px 0;
}

.footer-text:last-child {
  width: fit-content;
  /* border-bottom: 1px solid; */
}

.footer-text-underline {
  width: fit-content;
  border-bottom: 1px solid;
}

.footer-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer-btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.footer-social {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.footer-partnership {
  padding: 14px 25px;
  background-color: teal;
  color: var(--red-100);
  border-radius: 10px;
}
